<html>
    <%- include('./partial/head.ejs') %>
    
    <body>

        <%- include('./partial/nav.ejs') %>

        <div class="create-status">
            <form action="/status/update/<%= truck.id %>" method="POST">
                <label for="name">Truck Name:</label>
                <input type="text" id="name" name="name" value="<%= truck.name %>" required>
                <label for="driver">Driver:</label>
                <input type="text" id="driver" name="driver" value="<%= truck.driver %>" required>
                <label for="status">Status:</label>
                <input type="text" id="status" name="status" value="<%= truck.status %>" required>
                <button>Submit</button>
            </form>
        </div>
    </body>
</html>